body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(to right,rgb(64, 64, 202),rgb(20, 19, 19));
    color: aliceblue;
}

.container{
    margin: 8em;
    height: 15em;
    width: 25em;
    display: flex;
    flex-flow: column;
    gap: 2em;
}
#input{
    padding: 1em;
    border-radius: 1em;
    color:black;
    font-size: larger;
    background-color: rgb(135, 160, 182);
}
#create{
    width: 8em;
    padding: 4px;
    border-radius: 12px;
    font-size: large;
    color: black;
    background-color:rgb(122, 97, 146);
}